.card-img {
    height: 300px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img img {
    max-height: 70%;
    width: 100%;
    object-fit: contain;
}
.card-text {
    font-size: 20px;
}

.card-title {
    transition: all 0.3s ease;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
}
.card-title:hover {
    color: #dc3545;
}
